@font-face {
    font-family: 'Pixel';
    src: url('Pixel.ttf');
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.flappy {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

[data-flappy] {
    position: relative;
    width: 1200px;
    height: 700px;
    margin: 15px;
    background-color: skyblue;
    border: 5px solid dodgerblue;
    overflow: hidden;
}

.bird {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    z-index: 99;
}

.pair-barriers {
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
}

.barrier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barrier .barrier-border {
    width: 130px;
    height: 30px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 2px solid black;
}

.barrier .barrier-body {
    width: 110px;
    height: 150px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.progress {
    position: absolute;
    right: 10px;
    z-index: 99;
    font: 70px 'Pixel', cursive;
}